# Python bytecode
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# IDE/editor settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Compiled C extensions
*.so

# macOS/Linux/Windows junk
*.swp

# logs
*.log

# node modules, canbe reinstalled with pnm install
node_modules

# tls certificates
*.pem

# Storage files
crash.json
storage.json
config.json
bot_token.hidden.txt
*.sqlite
*.sqlite-*

# Backups
backups/

# Local update files
update.sh
update_checker.py
bot.pid
